{% extends "base.html" %}
{% block title %} Toximator {% endblock %}
{% block content %}

<body>
    <div class="container">
        <h5 style="color: #00e6b9">About Toximeter</h5>
        Toximator is a project with the visions to mitigate online toxicity and make the online space conducive for safe and productive communication. We employ state-of-the-art natural language processing techniques and Deep Neural Network Machine Learning architecture to provide the best result to the consumers. Although at its infancy, our toxicity detection models perform fairly well to help you determine if the text has any toxic characteristics or not.
        <br>
        <br>
        <br>

        Please stay tuned for improved version of our model. We will also be rolling out more useful features that will help you along the way to make your product safe and productive.
        
    </div>

</body>

{% endblock %}